* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Poppins', sans-serif;
    background-color: #333333;
    scroll-behavior: smooth;

}


#navbar {
    background-color: #171717; /* Dark background */
    color: #fff; /* White text */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute items along the navbar */
    padding: 20px 20px; /* Added padding */
}

.logo {
    display: flex;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: column;
}

#logo {
    border-radius: 50%; /* Circular logo */
    margin-right: 10px;
}

#brand-name {
    font-size: 22px; /* Larger font size for brand name */
    margin-right: 5px;
}

#agency {
    font-size: 8px; /* Smaller font size for agency text */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 40px; /* Adjust spacing between nav items */
}

.nav-links li a {
    color: #fff; /* White text for links */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition */
}

.nav-links li a:hover {
    color: red; /* Change color on hover */
}

.frontDiv{
    height: 100vh;
    display: flex;
    background-color: #333333;
    align-items: center;
    justify-content: space-around;
    /* gap: 7em; */
    /* padding: 30px 12% 0; */
}

.frontDivContent{
    max-width: 800px;
}
.frontDivContent h3 {
    color: white;
    font-size: 15px;
}
.frontDivContent h2 {
    color: white;
    font-size: 24px;
}
.frontDivContent{
    color: white;
    font-size: 24px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center
}

.roundBox{
    width: 80%;
    height: 80%;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
}

.roundBox h3{
    color: #333333;
    margin: 10px 0;
}

.img img{
    width: 600px;
    height: 600px;
    border-radius: 20px;
}

.aboutus{
    background-color: #D3D3D3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.aboutus img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.image2{
    padding: 40px;
    margin-left: 30px;
}

.aboutusContent{
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Services{
    background-color: #333333;
    width: 100%;
    height: 100%;
    padding: 50px;
    color: white;
}

.Services div{
 margin-top: 80px;
}

.ServiceContainer{
    text-align: center;
}

.SwiperDiv{
    height: 100%;
    width: 100%;
    padding: 50px 0px;
    background-color: #FAF9F6;
    text-align: center;
}

.swiper {
    width: 60vw;
    height: 40vh;
    border-radius: 20px;
    text-align: center;
    color: #171717;
    margin-top: 20px;
  }

  .SwiperDiv .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
}

.SwiperDiv .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
footer {
    background-color: #333333; /* Change to match the dark background */
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.mainFooter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.contactinfo, .services, .followUs {
    flex: 1;
    margin: 0 20px;
}

.contactinfo {
    text-align: left;
    color: #fff; /* Change text color to white */
}

.services {
    text-align: center;
    color: #fff; /* Change text color to white */
}

.followUs {
    text-align: right;
    color: #fff; /* Change text color to white */
}

.followUs a {
    color: #fff; /* Change social media icon color to white */
    margin-right: 10px;
}

.followUs svg {
    width: 30px;
    height: 30px;
    fill: #fff; /* Change social media icon color to white */
}

.footer-copyright {
    margin-top: 20px;
}



.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366; /* Green WhatsApp color */
    color: #fff; /* White icon color */
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}
